@{
    ViewData["Title"] = "Список постів";
}
@model IEnumerable<SlayLib.Models.Post>

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Створити новий пост</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                </td>
            </tr>
        }
    </tbody>
</table>

