@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<CultureInfo>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["lblChangeLanguage"];
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var culture in Model)
    {
            <div class="col-md-3">
                <form asp-action="SetLanguage" method="post"
                      asp-route-cultureName="@culture.Name" 
                      asp-route-returnUrl="@ViewData["ReturnUrl"]">
                    <button class="btn btn-link" type="submit">
                    @culture.DisplayName 
                    </button>
                </form>
            </div>
    }
</div>

@* Блок кнопки "Назад" *@
@if (ViewData["ReturnUrl"] != null)
{
        <div class="mt-3"> 
            <a href="@ViewData["ReturnUrl"]" class="btn btn-secondary">@Localizer["lblGoBack"]</a>
        </div>
}